<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bodega</title>
</head>
<body>
    <p>bodega</p>
    <form method="POST" action="">{% csrf_token %}
    {{ el_formulario.as_p }}
    <input type="submit" value="Guardar">
</body>
</html>
